.btns-export-group{
    display: flex;
}
table{
    border-radius: 3px;
    text-align: center;
    background-color: #fff !important;
}

.form-group{
    text-align: justify;
    width: fit-content;
    padding: 0 20px;
    display: inline-block;
}
.inputs-group {
    display: flex;
    flex-wrap: wrap;
}
#searchInput{
    box-shadow: none !important;
    border-radius: 0 20px 20px 0;
}
div  .select{
    height: 38px;
    width: 100px;
    color: #000;
    outline: none;
    border: none;
}
div  .select + .btn{
    height: 38px !important;
    border-radius: 20px 0 0 20px;
    background: #5aaa57 !important;
    border-color: #5aaa57;
    color: #fff;
}
div  .select + .btn:focus{
    box-shadow: 0 0 0 0.2rem #c3cfd9 !important;
}
.btn-success:not(:disabled):not(.disabled):active{
    border-color: #c3cfd9 !important;
}
.btn-success:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem #c3cfd9 !important;
}
.select  option{
    color: #000;
    font-size: 16px;
}
.modal .form-group label{
    color: #000 !important;
}
.show-board .modal-header{
    border: none !important;
    justify-content: flex-start;
}
.show-board .modal-header span{
    color: #5aaa57;
    margin: 0 10px;
    font-weight: 900;
}
.show-board .modal-header::before{
    content: '';
    background: #5aaa57;
    height: 30px;
    width: 5px;
    border-radius: 10px;
    margin-left: 15px;
}

table .dropdown-menu.show{
    display: flex !important;
    justify-content: space-around;
    flex-direction: column;
    min-width: 100px;
    padding: 10px;
}

table tbody tr{
    transition: all .3s;
}
table tbody tr:hover{
    background-color: #5aaa579a !important;
    color: #000 !important;
}
.person-image .form-group{
    display: block;
}
.img-box, .img-box > img{
    height: 175px;
    width: 175px;
}
.img-box > img{
    display: none;
    height: 175px;
    width: 175px;
}
.img-box + label{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
}
.img-box + label + input{
    display: none;
}
@media (max-width: 768px) {
    .form-row{
        flex-direction: column;
    }
    .col-sm-auto.inputs-group .form-group{
        width: 50%;
    }
}
select option:target,
select option:active,
select option:hover,
select option:focus-within,
select option:focus-visible,
select option:focus,
select option::selection,
select option:checked {
    background: #5aaa57 !important; /* أخضر */
    color: #fff;
}